@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  font-family: Roboto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  color: white;
}

header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 9%;
  background-color: transparent;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: rgb(88, 165, 175);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover {
  transform: scale(1.1);
}

nav a {
  font-size: 1.8rem;
  color: white;
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.ative {
  color: rgb(88, 165, 175);
  border-bottom: 3px solid rgb(88, 165, 175);
}

@media (max-width: 995px) {
  nav {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid rgb(88, 165, 175);
    border-bottom: 3px solid rgb(88, 165, 175);
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: black;
    border-top: 0.1rem solid rgb(0, 0, 0, 0.1);
  }

  nav.active {
    display: block;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover nav a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid rgb(88, 165, 175);
  }
}

section {
  min-height: 100vh;
  padding: 5rem 9% 5rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  background-color: black;
}

.home .home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

span {
  color: rgb(88, 165, 175);
}

.home-content h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home-img {
  border-radius: 50%;
}

.home-img img {
  position: relative;
  width: 32vw;
  border-radius: 50%;
  box-shadow: 0 0 25px solid rgb(88, 165, 175);
  cursor: pointer;
  transition: 0.2s linear;
}

.home-img img:hover {
  font-size: 1.8rem;
  font-weight: 500;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid rgb(88, 165, 175);
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem;
  transition: 0.3s ease;
  color: rgb(88, 165, 175);
}
.social-icons a:hover {
  color: black;
  transform: scale(1.3);
  background-color: rgb(88, 165, 175);
  box-shadow: 0 0 25px rgb(88, 165, 175);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  border-radius: 4rem;
  background-color: black;
  font-size: 1.6rem;
  color: rgb(88, 165, 175);
  border: 2px solid rgb(88, 165, 175);
  transition: 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.03, 1.03, 1);
  background-color: rgb(88, 165, 175);
  color: black;
  box-shadow: 0 0 25px rgb(88, 165, 175);
}

.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

.typing-text span {
  position: relative;
}

.typing-text span::before {
  color: rgb(88, 165, 175);
  content: "Software Developer";
  animation: words 20s infinite;
}

.typing-text span::after {
  content: "";
  background-color: black;
  position: absolute;
  width: calc(100% +8px);
  height: 100%;
  border-left: 3px solid black;
  right: -8;
  animation: cursor 0.6s infinite;
}

@keyframes cursor {
  to {
    border-left: 3px solid rgb(88, 165, 175);
  }
}

@keyframes words {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "Developer";
  }
  41%,
  60% {
    content: "Web Designer";
  }
  61%,
  80% {
    content: "Youtuber";
  }
  81%,
  100% {
    content: "Script Writer";
  }
}

@media (max-width: 1000px) {
  .home {
    gap: 4rem;
  }
}

@media (max-width: 995px) {
  .home {
    flex-direction: column;
  }

  .home .home-content h3 {
    font-size: 2.5rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 70vh;
    margin-top: 4rem;
  }
}
