@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || UTILITY CLASSES */

.nowrap {
  white-space: nowrap;
}

/* || GENERAL STYLES */

html {
  scroll-behavior: smooth;
}
body {
  font: 1.5rem Roboto;
  min-height: 100vh;
  background-color: rgb(46, 64, 65);
  background-image: radial-gradient(whitesmoke, rgb(46, 64, 65));
  display: flex;
  flex-direction: column;
}

header,
footer {
  position: sticky;
  background-color: #4b5e64;
  color: whitesmoke;
  text-align: center;
}

header {
  top: 0;
}

nav {
  background-color: #fff;
  padding: 0.5rem;
  border-bottom: 2px solid black;
  font-weight: bolder;
  display: flex;
  justify-content: space-evenly;
}

nav a,
nav a:visited {
  color: black;
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  color: hsla(0, 0%, 20%, 0.6);
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;
}

footer {
  bottom: 0;
}

/* || PROFILE CARD */

.card {
  scroll-margin-top: 8rem;
  width: min(100%, 350px);
  background-color: #cbd5e1;
  border: 2px solid black;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card figure {
  display: flex;
  flex-flow: column nowrap;
}

.card img {
  border: 5px double black;
  border-radius: 50%;
}

.card figcaption {
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}
/* || SMALL */
@media screen and (min-width: 576px) {
  main {
    justify-content: center;
    flex-flow: row wrap;
    padding: 1rem;
  }

  .card {
    width: min(100%, 400px);
  }

  .card:last-child {
    order: -1;
  }
}

@media screen and (min-width: 768px) {
  nav {
    display: none;
  }

  .card {
    width: min (100%, 325);
  }

  .card figure {
    flex-flow: column-reverse;
  }

  .card figcaption {
    margin: 0.1em 0;
  }
  .card p {
    margin-top: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .card {
    width: min(100%, 400px);
  }

  .card :nth-child(2) {
    order: -1;
  }
}

@media screen and (min-width: 1200px) {
  .card {
    width: min(calc(33% - 1rem), 500px);
  }
}

@media screen and (max-height: 425) and (max-aspect-ratio: 7/4) {
  body {
    background-color: dodgerblue;
    background-image: radial-gradient(whitesmoke, dodgerblue);
  }

  h1,
  h2 {
    font-size: 1.5rem;
  }

  nav {
    display: none;
  }
}
